<mat-card>
  <mat-card-title>Forma de pagamento</mat-card-title>

  <mat-card-content class="column gap">

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select [value]="selectedType()" (selectionChange)="selectedType.set($event.value)">
        <mat-option value="CASH">{{ paymentFormTypes['CASH'] }}</mat-option>
        <mat-option value="PIX">{{ paymentFormTypes['PIX'] }}</mat-option>
        <mat-option value="DEBIT">{{ paymentFormTypes['DEBIT'] }}</mat-option>
        <mat-option value="CREDIT">{{ paymentFormTypes['CREDIT'] }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput type="text" currencyMask [formControl]="valueControl" />
    </mat-form-field>

    <div class="summary">
      <strong>Total:</strong>{{ total() | currency:'BRL' }}<br />
      <strong>Pago:</strong> {{ paid() | currency:'BRL' }}<br />
      <strong>Restante:</strong> {{ remaining() | currency:'BRL' }}
    </div>

    <section class="actions">
      <button mat-stroked-button type="button" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>

      <button mat-raised-button color="primary" (click)="addPayment()"
        [disabled]="valueControl.value <= 0 || valueControl.value > remaining()">
        Adicionar pagamento
      </button>

      <button mat-raised-button color="primary" [disabled]="!isComplete()" (click)="onPayment()">
        Finalizar pagamento
      </button>
    </section>

    @for (p of payments(); track i; let i = $index) {
    <div class="payment-row">
      <span>
        {{ paymentFormTypes[p.type] }} — {{ p.value | currency:'BRL' }}
      </span>

      <button mat-button color="warn" (click)="removePayment(i)">
        Remover
      </button>
    </div>
    }
    

  </mat-card-content>
</mat-card>