.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.column {
  mat-form-field {
    display: block;
    width: 50%;
  }

  @media (max-width: 768px) {
    mat-form-field {
      width: 100%;
    }
    
  }
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 16px;

  button {
    flex: 1;
  }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
