:host {
    .client-view {
        max-width: 720px;
        margin: 0 auto;
    }

    .avatar {
        background-color: #3f51b5;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }

    .purchase-history {
        max-width: 720px;
        margin: 16px auto;
    }

    .purchase-history mat-card-title {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .purchase-history mat-card-content {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    mat-list-item {
        cursor: pointer;
    }

    mat-list-item:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .cash {
        color: rgb(14, 202, 14)
    }
}