<mat-form-field appearance="fill" class="full-width">
    <mat-label>Buscar produto</mat-label>
    <input type="text" matInput (keyup)="search($event)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Procure pelo nome do produto / serviço ou preço</mat-hint>
</mat-form-field>

<app-product-filter-component />


@if (!dataSource.data.length) {
<p>Nenhum produto cadastrado</p>
} @else {
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 striped-table">
    <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Preço">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element">{{ element.price | currency:'BRL':'symbol':'1.2-2':'pt-BR'}} </td>
    </ng-container>

    <ng-container matColumnDef="Estoque">
        <th mat-header-cell *matHeaderCellDef> Estoque </th>
        <td mat-cell *matCellDef="let element" [class]="element.quantity === 0 ? 'inactive' : ''"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="Tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.type === 'product' ? 'Produto' : 'Serviço'}} </td>
    </ng-container>

    <ng-container matColumnDef="Ativo">
        <th mat-header-cell *matHeaderCellDef> Ativo </th>
        <td mat-cell *matCellDef="let element" [class]="!element.isActive ? 'inactive' : ''"> {{element.isActive ? 'Sim' : 'Não'}} </td>
    </ng-container>

    <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element" class="actions">
            <mat-icon class="eye" aria-hidden="false" aria-label="visibility" fontIcon="visibility"
                (click)="showProductDetailsAction(element)" />
            <mat-icon class="delete" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"
                (click)="confirmDeletion(element)" />
        </td>
    </ng-container>

    <ng-container matColumnDef="AçõesMobile">
        <th mat-header-cell *matHeaderCellDef>Ações</th>

        <td mat-cell *matCellDef="let element" class="actionsMobile">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="Abrir ações">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="showProductDetailsAction(element)">
                    <mat-icon>visibility</mat-icon>
                    <span>Visualizar</span>
                </button>

                <button mat-menu-item (click)="confirmDeletion(element)">
                    <mat-icon>delete</mat-icon>
                    <span>Excluir</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}
<mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Selecione a página"></mat-paginator>