:host { 
    .actions {
        cursor: pointer;
        .eye {
            color: #515ff1
        }
        .delete {
            color: #ef5630
        }
    }

    .inactive {
        color: #ef5630
    }
}