.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.35); // tela apagada
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10000;

  pointer-events: all;
}
