<mat-toolbar color="primary" class="header">

  <div class="logo" routerLink="/">
    <mat-icon class="logo-icon">storefront</mat-icon>
    <span>SimpleBiz</span>
  </div>

  <span class="spacer"></span>

  <button
    mat-icon-button
    class="menu-mobile"
    [matMenuTriggerFor]="mobileMenu"
    aria-label="Menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #mobileMenu="matMenu" class="mobile-menu">
  <button mat-menu-item routerLink="/sales">
    <mat-icon>point_of_sale</mat-icon>
    <span>Vender</span>
  </button>

  <button mat-menu-item routerLink="/clients">
    <mat-icon>people</mat-icon>
    <span>Clientes</span>
  </button>

  <button mat-menu-item routerLink="/products">
    <mat-icon>inventory_2</mat-icon>
    <span>Estoque</span>
  </button>

  <button mat-menu-item routerLink="/history">
    <mat-icon>history</mat-icon>
    <span>Histórico</span>
  </button>

  <button mat-menu-item routerLink="/admin">
    <mat-icon>settings</mat-icon>
    <span>Opções</span>
  </button>
</mat-menu>
