<mat-card class="card">
  <mat-card-content>
    <div class="product-list-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Buscar produto</mat-label>
        <input matInput [formControl]="searchControl" />
      </mat-form-field>
      <mat-list>
        @for (product of filteredProducts(); track product.id) {
        <mat-list-item (click)="selectProduct(product)" [class.selected]="isSelected(product)">
          <div class="product-row">
            <div class="info">
              <div class="name">{{ product.name }}
                @if (product.quantity) {
                <small>(Qt: {{ product.quantity }})</small>
                }
              </div>
              @if (product.description) {
              <div class="description">{{ product.description }}</div>
              }
            </div>

            <div class="price">
              {{ product.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
            </div>
          </div>
        </mat-list-item>
        }

        @if (filteredProducts().length === 0) {
        <mat-list-item>
          <span class="empty">Nenhum produto encontrado</span>
        </mat-list-item>
        }
      </mat-list>

      <button mat-raised-button color="primary" class="full-width add-button" [disabled]="!selectedProduct()"
        (click)="addToCart()">
        Adicionar ao carrinho
      </button>

    </div>

  </mat-card-content>

</mat-card>