:host {
    .actions {
        cursor: pointer;
        .eye {
            color: #515ff1
        }
        .delete {
            color: #ef5630
        }
    }
    .avatar {
        background-color: #3f51b5;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .client-line {
        display: flex;
        align-items: center;
    }
}