.dashboard-container {
  padding: 16px;
}

mat-button-toggle-group {
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 16px;
}

mat-card {
  border-radius: 16px;
}
